In [1]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import pandas as pd

In [3]:
prices_data = pd.read_csv('../data/raw/prices.csv')

In [4]:
prices_data.head()

,date,admin1,admin2,market,market_id,latitude,longitude,category,commodity,commodity_id,unit,priceflag,pricetype,currency,price,usdprice
0,#date,#adm1+name,#adm2+name,#loc+market+name,#loc+market+code,#geo+lat,#geo+lon,#item+type,#item+name,#item+code,#item+unit,#item+price+flag,#item+price+type,#currency+code,#value,#value+usd
1,2004-01-15,Western,Colombo,Colombo City,368,6.93,79.85,cereals and tubers,Wheat flour,58,KG,actual,Retail,LKR,26.66,0.27
2,2004-02-15,Western,Colombo,Colombo City,368,6.93,79.85,cereals and tubers,Rice (red nadu),157,KG,actual,Retail,LKR,33.62,0.34
3,2004-02-15,Western,Colombo,Colombo City,368,6.93,79.85,cereals and tubers,Wheat flour,58,KG,actual,Retail,LKR,26.71,0.27
4,2004-03-15,Western,Colombo,Colombo City,368,6.93,79.85,cereals and tubers,Wheat flour,58,KG,actual,Retail,LKR,26.63,0.27

In [5]:
riceprice_data = pd.read_csv('../data/processed/rice_prices.csv')

In [6]:
riceprice_data.head()

,date,admin1,admin2,market,market_id,latitude,longitude,category,commodity,commodity_id,unit,priceflag,pricetype,currency,price,usdprice,year,month
0,2004-02-15,Western,Colombo,Colombo City,368,6.93,79.85,cereals and tubers,Rice (red nadu),157,KG,actual,Retail,LKR,33.62,0.34,2004,2
1,2004-04-15,Western,Colombo,Colombo City,368,6.93,79.85,cereals and tubers,Rice (red nadu),157,KG,actual,Retail,LKR,32.98,0.34,2004,4
2,2004-05-15,Western,Colombo,Colombo City,368,6.93,79.85,cereals and tubers,Rice (red nadu),157,KG,actual,Retail,LKR,34.10,0.35,2004,5
3,2004-06-15,Western,Colombo,Colombo City,368,6.93,79.85,cereals and tubers,Rice (red nadu),157,KG,actual,Retail,LKR,33.74,0.33,2004,6
4,2004-07-15,Western,Colombo,Colombo City,368,6.93,79.85,cereals and tubers,Rice (red nadu),157,KG,actual,Retail,LKR,34.93,0.34,2004,7

In [7]:
unique_markets = riceprice_data['market'].unique()
unique_markets

array(['Colombo City', 'Ampara', 'Trincomalee', 'Jaffna', 'Kilinochchi',
       'Mannar', 'Mulaitivu', 'Vavuniya', 'Batticaloa',
       'National Average', 'Monaragala', 'Badulla', 'Matara',
       'Hambantota', 'Galle', 'Rathnapura', 'Puttalam', 'Nuwara Eliya',
       'Kandy', 'Gampaha', 'Polonnaruwa', 'Matale', 'Kalutara',
       'Anuradhapura', 'Kurunegala', 'Kegalle',
       'Economic Centre-Maradagahamula', 'Economic Centre-Pettah',
       'Mullativu', 'Embilipitiya', 'Keppetipola (DEC}', 'Dammbagalla',
       'Meegoda(DEC)', 'Hanguranketha', 'Dehiattakandiya',
       'Thambuttegama', 'Galenbindunuwewa', 'Nikaweratiya',
       'Tissamaharama', 'Bandarawela'], dtype=object)

In [8]:
unique_categories = riceprice_data['category'].unique()
unique_categories

array(['cereals and tubers'], dtype=object)

In [9]:
unique_commodities = riceprice_data['commodity'].unique()
unique_commodities

array(['Rice (red nadu)', 'Rice (white)', 'Rice (long grain)',
       'Rice (red)', 'Rice (medium grain)'], dtype=object)

In [10]:
unique_priceflags = riceprice_data['priceflag'].unique()
unique_priceflags

array(['actual'], dtype=object)